@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';


}
@layer components {
    .btn-primary {
        @apply text-[18px] bg-[#353342] text-white
        border border-white rounded-lg
        px-4 py-4 text-center max-w-[250px] w-2xs ;
    }

    .btn-secondary {
        @apply text-[16px] bg-white text-[#353342]
        border border-[#353342] rounded-lg
        px-4 py-4 text-center max-w-[250px] w-2xs;
    }

    .btn-form {
        @apply text-[16px] bg-[#B2AFDF] text-[#ffffff]
        border rounded-lg
        px-20 py-4 text-center max-w-[250px] w-2xs;
    }

    .title_section {
        @apply text-[20px] font-black text-white max-w-[500px] lg:text-[24px]
    }

    .subtitle_section {
        @apply text-[16px] text-white pt-4 font-light max-w-[500px] lg:text-[18px]
    }

    .card {
        @apply bg-[#B2AFDF]
    }
}

body {
    background: linear-gradient(
        233deg,
        rgba(255, 255, 255, 0) 4.47%,
        rgba(30, 28, 28, 0.4) 96.18%
    ),
    linear-gradient(
        127deg,
        rgba(0, 0, 0, 0) 10.05%,
        rgba(0, 0, 0, 0.2) 90.34%
    ),
    #0D1220;
}

.card_hub {
    background-color: #AEB6D8;
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    max-width: 400px;
    min-width: 350px;
}

.btn_deconnexion {
    font-size: 20px;
    background-color: #fa0303;
    color: white;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 12px;
    cursor: pointer;
}

.btn_deconnexion:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

.modal {
    position: fixed;
    left: 50%;
    right: 50%;
    width: 600px;
    height: 300px;
    transform: translate(-50%, -50%);
}

.background_modal {
    background: linear-gradient(
        to right,
        #2b3448 0%,
        #1E293B 40%,
        #0F172A 100%
    );
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px;
}


.btn-form:hover {
    background-color: white;
    color: #B2AFDF;
    border: 1px solid #B2AFDF;
    font-weight: 700;
}

.filter_position {
    background-color: #353342;
    border: 1px solid white;
    font-size: 18px;
    padding: 16px;
    border-radius: 12px;
    color: white;
    width: 180px;
    text-align: center;
    cursor: pointer;
}

.filter_position.active {
    background: #192443;
    color: white;
}
